.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 100%;
  }
}

@media (max-width: 680px) and (min-width: 320px){
  .slide{
    img{
      width: 100px;
      padding: 5px;
    }
  }
  
}